<footer>
  <div class="g-wrap m-ft">
    <p>
      <a href="#">HOME</a><b>|</b>
      <a href="#">BLOG</a><b>|</b>
      <a href="#">ABOUT US</a><b>|</b>
      <a href="#">CONNECT US</a>
    </p>
    <p>©2015 Powered by Feidian Studio, All Rights Reserved.</p>
  </div>
</footer>
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/touch.js"></script>
<script src="/public/js/event.js"></script>
<script src="/public/js/jquery.scrollbox.js"></script>
<script src="/public/js/index.js"></script>

</body>
</html>
