<footer>
  <div class="g-wrap m-ft">
    <p>
      <a href="http://www.52feidian.net/">HOME</a><b>|</b>
      <a href="http://www.52feidian.net/blog/">BLOG</a><b>|</b>
      <a href="http://www.52feidian.net/member/">ABOUT US</a><b>|</b>
      <a href="http://www.52feidian.net/contact/">CONNECT US</a>
    </p>
    <p>©2015 Powered by Feidian Studio, All Rights Reserved.</p>
  </div>
</footer>
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/touch.js"></script>
<script src="/public/js/event.js"></script>
<script src="/public/js/jquery.scrollbox.js"></script>
<script src="/public/js/index.js"></script>

</body>
</html>
