<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>沸点工作室 - 华中农业大学第一互联网技术团队</title>
  <link rel="stylesheet" href="/public/css/base.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="/public/css/synatx.css">
</head>
<body>
<header>
  <div class="g-wrap m-hd">
    <div class="logo">
      <img src="/public/img/logo.png">
      <h1>沸点工作室</h1>
    </div>
    <ul class="m-nav">
      <li><a href="/index.html">首&nbsp;&nbsp;页</a></li>
      <li><a href="/news">团队动态</a></li>
      <li><a href="/blog">技术博文</a></li>
      <li><a href="/product">作品展示</a></li>
      <li><a href="/member">团队成员</a></li>
      <li><a href="/contact">联系我们</a></li>
    </ul>
  </div>
</header>
