{% include head.html %}

<div class="g-bd">
    <div class="g-wrap" style="height:400px;">
         <div class="g-con">
            <div class="tit">Contact Us</div>
               <div class="g-con-box">
                    <ul class="g-con-li">
                      <div class="f-lo"><img src="/public/img/icon/location.png"/>&nbsp;&nbsp;some information</div>
                             <li class="item">qq:222807849</li>
                             <li class="item">微博：微博：<a href="http://weibo.com/u/3475549580">沸点工作室_hzau</a></li>
                             <li class="item">微信公众号：沸小点</li>
                             <li class="item">github账号：<a href="https://github.com/52FeidianStudio">52FeidianStudio</a></li>
                             <li class="item">Address ：中国 武汉 华中农业大学 逸夫楼B403</li>
                    </ul>
               </div>


         </div>
 
         
    </div>
</div>

{% include footer.html %}
