{% include head.html %}

<div class="g-bd1">
  <div class="g-wrap">
      <div class="g-mem">
            <div class="tit">Our members</div>
                     <div class="g-mem-box">
                    <span>2011</span>
                    <hr>
                    <ul  class="g-me-li">
                             <li class="item">
                                   <div class="f-img">
                                          <img src="/public/img/person/1368764692.jpg"/>
                                   </div>
                                   <div class="f-det"><p>现就业于创新工场，精通object-c，iOS应用开发。</p></div>
                                   <div class="f-tag">yuanfang</div>
                             </li>
                             <li class="item">
                                    <div class="f-img">
                                         <img src="/public/img/person/1368764692.jpg"/>
                                   </div>
                                   <div class="f-det"><p>现就业于创新工场，精通object-c，iOS应用开发。</p></div>
                                   <div class="f-tag">yuanfang</div>
                             </li>
                             <li class="item">
                                    <div class="f-img">
                                          <img src=""/>
                                   </div>

                             </li>
                             <li class="item">
                                   <div class="f-img">
                                          <img src=""/>
                                   </div>
                             </li>
                             <li class="item">
                                    <div class="f-img">
                                          <img src=""/>
                                   </div>
                             </li>
                             <li class="item">
                                    <div class="f-img">
                                          <img src=""/>
                                   </div>

                             </li>
                          <div style="clear:both;"></div>
                    </ul>
                    </div>

      </div>


  </div>
</div>

{% include footer.html %}
