{% include head.html %}

<div class="g-bd1">
  <div class="g-wrap">
      <div class="g-mem">
            <div class="tit">Our members</div>
                     <div class="g-mem-box">
                    <span>2009</span>
                    <hr>
                    <ul  class="g-me-li">
                             <li class="item">
                                   <div class="f-img">
                                          <img src="/public/img/person/lhj.jpg"/>
                                   </div>
                                   <div class="f-det"><p>沸点工作室创始人，曾负责团队整体运营、管理与分工，主导团队的发展方向，负责程序设计与开发！
                                   格言：不眼高不手低，踏踏实实，勤勤恳恳！</p></div>
                                   <div class="f-tag">芦海军</div>
                             </li>
                             <li class="item">
                                    <div class="f-img">
                                         <img src="/public/img/person/1368714208.jpg"/>
                                   </div>
                                   <div class="f-det"><p>曾经负责团队技术发展规划，组织实施项目的开发！CGI底层开发
格言：一切inni而精彩！</p></div>
                                   <div class="f-tag">张凌峰</div>
                             </li>
                             <li class="item">
                                   <div class="f-img">
                                         <img src="/public/img/person/1368714144.jpg"/>
                                   </div>
                                   <div class="f-det"><p>曾经负责团队内部建设、成员培训、考评等日常事务！
格言：别想一下造出大海，必须先由小河川开始！</p></div>
                                   <div class="f-tag">赵娜</div>
                             </li>
                             <li class="item">
                                 <div class="f-img">
                                         <img src="/public/img/person/1368714070.jpg"/>
                                   </div>
                                   <div class="f-det"><p>曾经负责团队财务政策和财务管理制度的实施和运转！
格言：自己选择的路，即使跪着，也要走下去！</p></div>
                                   <div class="f-tag">张晓</div>
                             </li>
                             <li class="item">
                                   <div class="f-img">
                                         <img src="/public/img/person/1368714023.jpg"/>
                                   </div>
                                   <div class="f-det"><p>曾任团队技术骨干！负责程序设计与开发！
格言：路漫漫其修远兮，吾将上下而求索！</p></div>
                                   <div class="f-tag">栾国金</div>
                             </li>
                             <li class="item">
                                       <div class="f-img">
                                         <img src="/public/img/person/1368713959.jpg"/>
                                   </div>
                                   <div class="f-det"><p>曾任团队技术骨干！负责美工设计与页面重构！WEB前台JS+div+css
格言：做要靠想开来指导，想要靠做来证明！</p></div>
                                   <div class="f-tag">韩彦磊</div>
                             </li>
                            <li class="item">
                                       <div class="f-img">
                                         <img src="/public/img/person/1368713613.jpg"/>
                                   </div>
                                   <div class="f-det"><p>已毕业，曾经负责团队推广、组织公关、广告宣传等活动！
格言：给花儿一些阳光，它将为你开出绚烂的花朵；给杨光一个舞台，他将为你诠释什么叫做精彩！</p></div>
                                   <div class="f-tag">杨光</div>
                             </li>
                             <li class="item">
                                       <div class="f-img">
                                         <img src="/public/img/person/1368712626.jpg"/>
                                   </div>
                                   <div class="f-det"><p>已毕业，曾任团队技术骨干！负责美工设计与页面重构！WEB前台JS+div+css
格言：走自己的路 让别人说去吧!</p></div>
                                   <div class="f-tag">丁力</div>
                             </li>
                             <li class="item">
                                       <div class="f-img">
                                         <img src="/public/img/person/1368712496.jpg"/>
                                   </div>
                                   <div class="f-det"><p>已毕业，曾任团队技术骨干，负责C++底层框架开发！CGI底层开发
格言：人生没有if else 只有while！</p></div>
                                   <div class="f-tag">孙凡</div>
                             </li>

                              <li class="item">
                                       <div class="f-img">
                                         <img src="/public/img/person/1368712425.jpg"/>
                                   </div>
                                   <div class="f-det"><p>已毕业学长，现在腾讯，团队技术骨干！负责程序设计与开发！LAMP WEB开发
人生格言：站在巨人的肩膀上，思考，行动！</p></div>
                                   <div class="f-tag">韩俊</div>
                             </li>
                             <hr>
                             <span>2010</span>
                                    <li class="item">
                                       <div class="f-img">
                                         <img src="/public/img/person/1368712425.jpg"/>
                                   </div>
                                   <div class="f-det"><p>已毕业学长，现在腾讯，团队技术骨干！负责程序设计与开发！LAMP WEB开发
人生格言：站在巨人的肩膀上，思考，行动！</p></div>
                                   <div class="f-tag">张红立</div>
                             </li>
                             <li class="item">
                                       <div class="f-img">
                                         <img src="/public/img/person/IMG_0251.jpg"/>
                                   </div>
                                   <div class="f-det"><p>于2010年加入沸点工作室，曾负责团队中C/C++组算法研究工作，现于中国科学技术大学攻读硕士研究生，硕士阶段主要研究大数据计算加速，对Spark、图计算等有较深入研究。
格言：生活不只是眼前的苟且，还有诗和远方！</p></div>
                                   <div class="f-tag">陈航</div>
                             </li>
                             <li class="item">
                                       <div class="f-img">
                                         <img src="/public/img/person/1368713885.jpg"/>
                                   </div>
                                   <div class="f-det"><p>现就业于杭州恒生，2011届工作室负责人，程序设计与开发！LAMP WEB开发
格言：生活不是等待风暴过去，而是学会在雨中翩翩起舞！</p></div>
                                   <div class="f-tag">张玉柱</div>
                             </li>

                                       <li class="item">
                                       <div class="f-img">
                                         <img src="/public/img/person/1368713427.jpg"/>
                                   </div>
                                   <div class="f-det"><p>大四，曾任团队技术骨干！负责美工设计与页面重构！WEB前台JS+div+css
格言：一直活在别人掌声里的人，是经不起考验的人！</p></div>
                                   <div class="f-tag">李钊</div>
                             </li>

                          <div style="clear:both;"></div>
                    </ul>
                    </div>

      </div>


  </div>
</div>

{% include footer.html %}
