{% include head.html %}

<div class="g-bd1">
  <div class="g-wrap">

    <div class="g-pro">
         <div class="tit">Our works</div>
         <div class="g-pro-box">
         <ul class="f-pr" id="product">
             <li class="item"> 
               <a href=""><img  src="/public/img/works/1323670923hauxuejikao.jpg" alt="img" /></a>
               <div class="f-over">
                   <div class="f-aut">zuozhe:yuangang</div>
                   <div class="f-name">name:yuanfang</div>
                   <div class="date">date:2014</div>
               </div>
             </li>
                <li class="item">
                   <a href=""><img  src="/public/img/works/1351871216.jpg" alt="img" /></a>
                  <div class="f-over">
                    <div class="f-aut">zuozhe:yuangang</div>
                    <div class="f-name">name:yuanfang</div>
                    <div class="date">date:2014</div>
                  </div>
                </li>
                   <li class="item">
                    <a href=""><img  src="/public/img/works/1306068149sxx.jpg" alt="img" /></a>
                    <div class="f-over">
                        <div class="f-aut">zuozhe:yuangang</div>
                        <div class="f-name">name:yuanfang</div>
                        <div class="date">date:2014</div>
                    </div>
                   </li>
                   <li class="item">
                          <a href=""><img  src="/public/img/works/1357892659.jpg" alt="img" /></a>
                           <div class="f-over">
                            <div class="f-aut">zuozhe:yuangang</div>
                            <div class="f-name">name:yuanfang</div>
                            <div class="date">date:2014</div>
                            </div>
                  </li>

                 <li class="item">
                         <a href=""><img  src="/public/img/works/1306068149sxx.jpg" alt="img" /></a>
                              <div class="f-over">
                            <div class="f-aut">zuozhe:yuangang</div>
                            <div class="f-name">name:yuanfang</div>
                            <div class="date">date:2014</div>
                            </div>
                  </li>
                  <li class="item">
                       <a href=""><img  src="/public/img/works/1357892659.jpg" alt="img" /></a>
                            <div class="f-over">
                            <div class="f-aut">zuozhe:yuangang</div>
                            <div class="f-name">name:yuanfang</div>
                            <div class="date">date:2014</div>
                            </div>      
                 </li>
                     <li class="item">
                          <a href=""><img  src="/public/img/works/1351871216.jpg" alt="img" /></a>
                            <div class="f-over">
                            <div class="f-aut">zuozhe:yuangang</div>
                            <div class="f-name">name:yuanfang</div>
                            <div class="date">date:2014</div>
                            </div>
                  </li>
                <li class="item">
                     <a href=""><img  src="/public/img/works/1306068149sxx.jpg" alt="img" /></a>
                            <div class="f-over">
                            <div class="f-aut">zuozhe:yuangang</div>
                            <div class="f-name">name:yuanfang</div>
                            <div class="date">date:2014</div>
                            </div>
                  </li>
                 <div style="clear:both;"></div>
            </ul>
         </div>
    </div>
  </div>
</div>

{% include footer.html %}
