{% include head.html %}

<div class="g-bd1">
  <div class="g-wrap">
    <div class="g-pro">
         <div class="tit">Our works<span>有些作品不能直接点进查看站点的,可能是由于时间久远或者其他原因无法访问</span></div>
         <div class="g-pro-box">
         <ul class="f-pr" id="product">
           <li class="item"> 
               <a href="/"><img  src="/public/img/works/bwg.png" alt="img" /></a>
               <div class="f-over">
                   <div class="f-aut">作者：邱欣欣、黄田</div>
                   <div class="f-name">简介：华中农业大学博物馆网站</div>
                   <div class="date">完成时间：2015-06-20</div>
               </div>
             </li>
              <li class="item"> 
              <img  src="/public/img/works/hu.png" alt="img" />
                <a href="shouji.baidu.com/soft/item?docid=7655314&from=landing&f=search_app_环湖%40list_1_image%401%40header_all_input"><div class="f-over">
                   <div class="f-aut">作者：张帆</div>
                   <div class="f-name">简介：华农环湖跑手机助手</div>
                   <div class="date">完成时间：2015-04-24</div>
               </div></a>
            </li>
             <li class="item"> 
            <img  src="/public/img/works/bk.png" alt="img" />
              <a href="/"><div class="f-over">
                   <div class="f-aut">作者：王元芳</div>
                   <div class="f-name">简介：个人博客</div>
                   <div class="date">完成时间：2015--4-20</div>
               </div></a>
             </li>
             <li class="item"> 
              <img  src="/public/img/works/hdj.jpg" alt="img" />
               <a href="http://www.hongdujuan.net/"><div class="f-over">
                   <div class="f-aut">作者：刘栋良</div>
                   <div class="f-name">简介：华中农业大学红杜鹃爱心社</div>
                   <div class="date">完成时间：2013-5-20</div>
               </div></a>
             </li>
                <li class="item">
                   <img  src="/public/img/works/bs.png" alt="img" />
               <a href=""><div class="f-over">
                    <div class="f-aut">作者：刘栋良</div>
                    <div class="f-name">简介：华中农业大学理学院毕业设计管理系统</div>
                    <div class="date">完成时间：2014-3-24</div>
                  </div></a>
                </li>
                   <li class="item">
                         <img  src="/public/img/works/hn.jpg" alt="img" />
                            <a href=""><div class="f-over">
                            <div class="f-aut">作者：feidian</div>
                            <div class="f-name">简介：华中农大新手指南助手</div>
                            <div class="date">完成时间：2012-03-20</div>
                            </div></a>
                  </li>
                  <li class="item">
                 <img  src="/public/img/works/1357892659.jpg" alt="img" />
                          <a href=""><div class="f-over">
                            <div class="f-aut">作者：万源</div>
                            <div class="f-name">简介：沸点php框架</div>
                            <div class="date">完成时间：2013-01-11</div>
                            </div>
                          </a>
                 </li>
                     <li class="item"> 
              <img  src="/public/img/works/1386739764.jpg" alt="img" />
                <a href=""><div class="f-over">
                   <div class="f-aut">作者：沸点</div>
                   <div class="f-name">简介：校长杯英语竞赛计分系统</div>
                   <div class="date">完成时间：2013-12-13</div>
               </div></a>
             </li>
                <li class="item">
                  <img  src="/public/img/works/1379950893.png" alt="img" />
                   <a href=""><div class="f-over">
                    <div class="f-aut">作者：施浩宏</div>
                    <div class="f-name">简介：为中南财经政法大学某创业团队开发的在线预购平台</div>
                    <div class="date">完成时间：2013-09-13</div>
                  </div></a>
                </li>
                 <div style="clear:both;"></div>
            </ul>
         </div>
    </div>
  </div>
</div>

{% include footer.html %}
